
.back-to-top {
    animation: back-to-top 0.4s forwards linear;
    transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}

@keyframes back-to-top {
    25% {
        transform: translateY(75%);
    }
    50% {
        transform: translateY(50%);
    }
    75% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}